<%= stylesheet_link_tag "banner" %>

<div class="mt-2 mb-2">
    <div> 本月焦點</div>
</div>

<div class="banner">
    <%= image_tag "cover_july21.jpg", width: "400" %>
</div>

<hr>





<% @articles.each do |article|%>
    <div class="post-intro d-flex flex-row">
        <div class="col-3 pl-0 pr-0 img-block">
            <%= image_tag article.image.variant(resize: "160x160") %>
        </div>
        <div class="col-9">
            <div class="tag text-left text-nowrap">
                <% if not article.publish_at.nil? %>
                    <% ptime = article.publish_at.strftime("%b.%e") %>
                <% else %>
                    <% ptime = "Mar 25"%>
                <% end %>
                <%= ptime %> | <%= article.article_type.name %>
            </div>

            <div class="title text-left text-nowrap">
                <span class="name"><%= article.title %></span>
                <span class="artist">- <%= article.artist%></span>
            </div>
            
            
            <div class="text-left pb-1">
                <% if not article.recommender.empty? %>
                    推薦人: <%= article.recommender%>
                <% end %>
                <% if not article.author.empty? %>
                    撰文小編: <%= article.author %>
                <% end %>
            </div>

            <div class="description text-left">
                <%= article.brief %>...
                <a href="#"> <<閱讀更多>></a>
            </div>
        </div>
    </div>
<% end %>

<h4>以下為寫死輸出</h4>

<div class="post-intro d-flex flex-row">
    <div class="col-3 pl-0 pr-0 img-block">
        <%= image_tag "album_cover.png", width:"160" %>
    </div>
    <div class="col-9">
        <div class="tag text-left text-nowrap">
            Mar.25 | 專輯
        </div>

        <div class="title text-left text-nowrap">
            <span class="name">Summer Plumage</span>
            <span class="artist">- 새소년 SE SO NEON</span>
        </div>

        <div class="text-left pb-1">
            推薦人: 李佳瑜
        </div>

        <div class="description text-left">
            迷人的吉他intro，主唱充滿魅力的中性嗓音，搭配合成器音效，跟著bass與鼓的律動，讓人身體忍不住輕輕搖擺起來。
            他們是SE SO NEON，中文翻譯為「新少年」或「鳥少年」...
            <a href="#"> <<閱讀更多>></a>
        </div>
    </div>
</div>


<div class="post-intro d-flex flex-row">
    <div class="col-3 pl-0 pr-0 img-block">
        <%= image_tag "album_cover2.png", width:"160" %>
    </div>
    <div class="col-9">
        <div class="tag text-left text-nowrap">
            Mar.4 | EP
        </div>

        <div class="title text-left text-nowrap">
            <span class="name">Riot On An Empty Street</span>
            <span class="artist">-  Kings of Convenience</span>
        </div>

        <div class="text-left pb-1">
            推薦人: 王柏皓
        </div>

        <div class="description text-left">
            引用推薦人寫的推薦原因：「整張專輯如積了厚雪的屋簷下ㄧ盞發出昏黃溫暖光暈的燈泡，隨時向你招手使你身心飽滿」。聽完了怪物兄妹的《WINTER》覺得太炫麗、太刺激、老天爺太不公平了嗎(?)，來來來，換點緩和些的吧！ 」...
            <a href="#"> <<閱讀更多>></a>
        </div>
    </div>
</div>