<div>
  <% if flash[:notice] %>
    <%= flash[:notice] %>
  <% end %>
</div>

<%= link_to "新增文章", new_article_path %>
<table>
  <thead>
    <tr>
      <td>title</td>
      <td>category</td>
      <td>operations</td>
    <tr>
  </thead>
  <tbody>
    <% @articles.each do |t| %>
    <tr>
      <td><%= t.title%></td>
      <td><%= t.category%></td>
      <td>
        <div class='btn-group'>
          <%= link_to "編輯", edit_article_path(t), class:'btn btn-primary'%>
          <%= link_to "刪除", article_path(t), method:"delete", data:{ confirm:"確認刪除"}, class:'btn btn-danger'%>
        </div>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
