<!DOCTYPE html>
<html>
  <head>
    <title>Goodmusic</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>


    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag asset_path('favicon.png') %>
  </head>
  
  <body>
    <div class='container-fulid'> 
      <%= render "common/navbar"%>
    </div>
    <div class='container justify-content-center text-center pt-2'>
      <%= yield %>
    </div>
  </body>
</html>
